@{

}

<div id="top-wrapper">
    <header>
        <div id="top-title">在庫管理システム</div>
    </header>
    <div id="main-contents">
        <div id="button-group">
            <div class="button btn">
              <a href="#" class="inventory-link">入庫</a>
            </div>
            <div class="button btn">
              <a href="#" class="inventory-link">出庫</a>
            </div>
            <div class="button btn">
              <a href="#" class="inventory-link">棚卸</a>
            </div>
            <div class="button btn">
              <a href="#" class="inventory-link">各種登録</a>
            </div>
        </div>
    </div>
</div>